#checking {
    display: flex;
}

#checking-left {
    width: 25%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);

}

#checking-left > ol {
    list-style: none;
    padding: -0;
}

#checking-left .checking-item-first {
    background: linear-gradient(to left, #f2f0f0, #e8e2e2);
}

#checking-left .checking-item-first > header {
    border: solid 2px rgba(111, 111, 111, .1);
    border-left: 5px solid darkorange;
    padding: .4em;
    font-size: 1.25em;
    font-weight: bold;
    position: relative;
    transition: .3s;
    left: 0;

}

.checking-item-first.expand-sub > header {
    box-shadow: 1px 5px 5px rgba(0, 0, 0, .3);
    color: black;
    background: #fcfafa;
    top: -5px;
}

.checking-item-first.collapse-sub > header {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3) inset;
    background: #ece7e7;
    color: #4a565c;
    right: 5px;
    font-size: 95%;
}

#checking-left .checking-item-first > header:hover {
    cursor: pointer;
    left: 5px;
}

#checking-left .sub-list {
    list-style: none;
    padding: 0;
    transition: .3s;
    overflow-y: hidden;
    margin: 0 1em 0 2em;
}

.checking-item-first.expand-sub .sub-list {
    max-height: 100vh;
}

.checking-item-first.collapse-sub .sub-list {
    max-height: 0;
}

#checking-left .checking-item-second {
    margin: 2px 0;
    border-left: 4px solid #3f51b5;
    transition: .4s;
    background: whitesmoke;
}

#checking-left .checking-item-second:hover {
    cursor: pointer;
    font-weight: bold;
}

#checking-left .checking-item-second > header {
    font-size: 1.1em;
    padding: .3em;
    display: flex;
    justify-content: space-between;
}

.item-state {
    font-size: 90%;
    text-align: center;
}

/* right */
#checking-right {
    width: 75%;
}

#checking-right>h1{
    margin: .5em;
}

.checking-item-third {
    display: flex;
    border-bottom: solid 1px #9E9E9E;
    width: 100%;
    padding: 0 3em;
    min-height: 3em;
}

.checking-item-third > div {
    display: flex;
    align-items: center;

}

.checking-item-third .source {
    width: 15%;
}

.checking-item-third .description {
    width: 30%;
}

.checking-item-third .piece {
    width: 55%;
    position: relative;
}

.checking-item-third .piece-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.checking-item-third .piece img {
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    border: solid 1px black;
}

#checking-right hr {
    padding: .5em;
}

#checking-right p{
    margin: 0;
}

.checking-item-third-header {
    background: #607D8B;
    color: snow;
    min-height: 2em;
}

/* checking result*/
#checking-result {
    width: 100%;
    padding: 0 2em;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#checking-result > textarea {
    border-radius: 10px;
    box-shadow: 0 0 5px grey inset;
    background: #f6f6f6;
    resize: none;
    width: 30em;
    outline: none;
}

#checking-result > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#checking-result > div > button {
    padding: .5em 2em;
    transition: .2s;
    background: whitesmoke;
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 2px .5em;
    outline: none;
}

#checking-result > div > button:hover {
    color: white;
    box-shadow: 0 0 10px #2a1c1c;
}

#checking-result .checking-accept-btn {
    color: #37913b;
}

#checking-result .checking-accept-btn:hover {
    background: #37913b;
}

#checking-result .checking-reject-btn {
    color: #d7372b;
}

#checking-result .checking-reject-btn:hover {
    background: #d7372b;
}

#checking-result .checking-clear-btn{
    color: gray;
}
#checking-result .checking-clear-btn:hover{
    background: gray;
}

.header-state {
    font-size: 45%;
    font-weight: bolder;
    border: solid 2px;
    border-radius: 10px;
    padding: .2em .5em;
}

.pass-state {
    color: #37913b;
}

.reject-state {
    color: #d7372b;
}

.tbd-state{
    color: grey;
}