/* global variables */
:root {
    --l1-bg-color: #F6630D;
    --l1-fg-color: whitesmoke;
    --l1-bd-color: #b54709;
}

@keyframes stand-out {
    0% {
        top: 0;
        z-index: 10;
        box-shadow: .1rem .5rem 1rem transparent;
        opacity: .9;
        font-weight: normal;
        font-size: 100%;
    }
    100% {
        top: -1rem;
        box-shadow: .1rem .5rem 1rem grey;
        font-size: 110%;
        font-weight: bolder;
        z-index: 10;
        opacity: 1;
    }
}

@keyframes stand-in {
    0% {
        top: -1rem;
        box-shadow: .1rem .5rem 1rem grey;
        font-size: 110%;
        font-weight: bolder;
        z-index: 10;
        opacity: 1;
    }
    100% {
        top: 0;
        box-shadow: .1rem .5rem 1rem transparent;
        font-size: 100%;
        font-weight: normal;
        z-index: 0;
        opacity: .9;
    }
}

.horizontal-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: .2em auto;

}

.horizontal-list > li {
    display: inline-block;
    /*margin: 0 2px;*/
    flex-grow: 1;
}

.graph-container {
    display: flex;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    position: relative;
    overflow-x: auto;
    text-align: center;
    padding: 1.5rem .2rem;
    line-height: 1;
}

.non-selectable {
    user-select: none;
}
/*.graph-mask{*/
/*background-color: rgba(255, 255, 255, 0.5);*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*z-index: 10;*/
/*}*/

.graph-item-selected {
    animation: stand-out .5s forwards ease-out;
}

.graph-item-unselected{
    animation: stand-in .3s forwards ease-in;

}

.graph-item-selectable:hover {
    font-weight: bold;
}

/*第一层元素*/
.first-level-container {
    position: relative;
    margin: 0 2px;
    align-items: flex-start;
    height: fit-content;
    cursor: pointer;
}

.box-arrow {
    position: relative;
    padding: 10px .5em;
}

.box-arrow-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box-arrow .box-arrow-bg-top {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);

    background-color: var(--l1-bg-color);

    border-left: 1px solid var(--l1-bd-color);
    border-right: 1px solid var(--l1-bd-color);
    border-top: 1px solid var(--l1-bd-color);
}

.box-arrow .box-arrow-bg-bottom {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);

    background-color: var(--l1-bg-color);

    border-left: 1px solid var(--l1-bd-color);
    border-right: 1px solid var(--l1-bd-color);
    border-bottom: 1px solid var(--l1-bd-color);
}

.box-arrow-text {
    color: var(--l1-fg-color);
    font-size: 1.5rem;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

/*第二层元素*/
.first-level-container > .horizontal-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.second-level-container {
    display: inline-block;
    color: whitesmoke;
    width: 100%;
    margin: 0 2px;
}

.second-level-text {
    background-color: #0070C0;
    border: 3px solid #055b98;
    margin: 0 2px;
    padding: 0.2em 0.5em;
    white-space: nowrap;
    position: relative;
}

.second-level-text>.non-selectable{
    /*font-size: 1.2rem;*/
    /*max-width: 6rem;*/
    margin: .2rem auto;
    height: 1.4rem;
    /*white-space: normal;*/
}
/* 第三层元素 */

.third-level-text {
    background-color: #00B050;
    border: 2px solid #238e23;
    margin: 0 2px;
    padding: .4rem;
    position: relative;
}

.second-level-container > .horizontal-list > li {
    min-width: 2em;
}

.third-level-text>.non-selectable{
    font-size: 1.3rem;
    max-width: 2rem;
    white-space: normal;
}