#selecting{
}

#detail hr {
    margin-top: 5px;
    border-top: 1px solid #f5ebdb;
}

#detail>section{
    /*max-height: 1vh;*/
}

section video{
    width: 100%;
}

/* 1st level */
#first-level-section {
    /*background-color: #ffe3b5;*/
    padding: 2em 2em .5em 2em;
}

#first-level-section .selecting{
    font-size: 1.6em;
    min-width: 18em;
}

/* 2nd level */
#second-level-section {
    /*background-color: #e5ebfb;*/
    padding: 2em 2em .5em 2em;
}

#second-level-section .selecting {

    font-size: 1.4em;
    min-width: 18em;
}

/* 3rd level */
#third-level-section {
    /*background-color: #deffdb;*/
    padding: 2em 2em .5em 2em;
}

#third-level-section .selecting{

    font-size: 1.2em;
    min-width: 18em;
}

/* media */
.media-source-list ul{
    display: flex;
    list-style: none;
    padding: 0;
}

/* level-content */
@keyframes pull-out {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 10em;
    }
}
.level-content{
    max-height: 0;
    overflow-y: auto;
    background-color: #00B050;
}

.level-content-out{
    animation: pull-out 5s ease-out forwards;
}

#file-up-container{
    padding: 0;
}
