#selecting{
}

#detail hr {
    margin-top: 5px;
    border-top: 1px solid #f5ebdb;
}


/* 1st level */
#first-level-section {
    /*background-color: #ffe3b5;*/
    padding: 2em 2em .5em 2em;
}

#first-level-section .selecting{
    font-size: 1.6em;
    min-width: 18em;
}

/* edit area*/
#editor{
    display: flex;
    width: 100vw;
}

/* 2nd level */
#second-level-section {
    background-color: #e5ebfb;
    padding: 2em 2em .5em 2em;
    width: 30%;
}

#second-level-section .selecting {

    font-size: 1.4em;
    min-width: 18em;
}

/* 3rd level */
#third-level-section {
    background-color: #deffdb;
    padding: 2em 2em .5em 2em;
    width: 70%;
}

#third-level-section .selecting{

    font-size: 1.2em;
    min-width: 18em;
}

#third-level-detail {
    display: flex;

}

#third-level-detail>#media-editor{
    flex-grow: 1;
    min-width: 28em;
    min-height: 15em;
}

.hopping-form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hopping-form>#media-description{
    flex-grow: 1;
}

#media-separator{
    background-color: whitesmoke;
    box-shadow: 0 0.5em 0.5em grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #404040;
    margin: 0 1em;
}
#media-separator:hover{
    cursor: pointer;
}

section video{
    width: 100%;
}

@keyframes show-media-previewer {
    0% {
        width: 0;
    }

    100%{
        width: 100%
    }
}
@keyframes hide-media-previewer {
    0% {
        width: 100%;
    }
    100%{
        width: 0;
    }
}
#media-previewer.show-media{
    animation: show-media-previewer 1s ease-in forwards;
}
#media-previewer.hide-media{
    animation: hide-media-previewer 1s ease-out forwards;

}

#media-previewer::after{

}

/* media */
.media-source-list ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

/* level-content */
@keyframes pull-out {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 100vh;
    }
}
@keyframes push-in {
    0% {
        max-height: 100vh;
    }

    100% {
        max-height: 0;
    }
}
.level-content{
    border-top: solid 1px lightgrey;
    overflow-y: auto;
}
.level-content-in{
    animation: push-in .5s ease-in .2s forwards;
}
.level-content-out{
    animation: pull-out .5s ease-out forwards;
}

#file-up-container{
    padding: 0;
}
