/* global variables */
:root {
    --l1-bg-color: #F6630D;
    --l1-fg-color: whitesmoke;
    --l1-bd-color: #b54709;

    --l2-bd-color: #04497a;

}

@keyframes stand-out {
    0% {
        top: 0;
        z-index: 10;
        box-shadow: .1rem .5rem 1rem transparent;
        opacity: .95;
        font-weight: normal;
        font-size: 100%;
    }
    100% {
        top: -1rem;
        box-shadow: .1rem .5rem 1rem grey;
        font-size: 110%;
        font-weight: bolder;
        z-index: 10;
        opacity: 1;
    }
}

@keyframes stand-in {
    0% {
        top: -1rem;
        box-shadow: .1rem .5rem 1rem grey;
        font-size: 110%;
        font-weight: bolder;
        z-index: 10;
        opacity: 1;
    }
    100% {
        top: 0;
        box-shadow: .1rem .5rem 1rem transparent;
        font-size: 100%;
        font-weight: normal;
        z-index: 0;
        opacity: .95;
    }
}

.horizontal-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: .2em auto;

}

.horizontal-list > li {
    display: inline-block;
    /*margin: 0 2px;*/
    height: fit-content;
    flex-grow: 1;
}

.graph-container {
    display: flex;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    position: relative;
    overflow-x: auto;
    text-align: center;
    padding: 1.5rem .2rem;
    line-height: 1;
}

.non-selectable {
    user-select: none;
}
/*.graph-mask{*/
/*background-color: rgba(255, 255, 255, 0.5);*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*z-index: 10;*/
/*}*/

.graph-item-selected {
    animation: stand-out .5s forwards ease-out;
}

.graph-item-unselected{
    animation: stand-in .3s forwards ease-in;

}

.graph-item-selectable:hover {
    font-weight: bold;
}

/*第一层元素*/
.first-level-container {
    position: relative;
    margin: 0 2px;
    align-items: flex-start;
    height: fit-content;
    cursor: pointer;
}

.box-arrow {
    position: relative;
    padding: 10px .5em;
}

.box-arrow-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box-arrow .box-arrow-bg-top {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);

    background-color: var(--l1-bg-color);

    border-left: 1px solid var(--l1-bd-color);
    border-right: 1px solid var(--l1-bd-color);
    border-top: 1px solid var(--l1-bd-color);
}

.box-arrow .box-arrow-bg-bottom {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);

    background-color: var(--l1-bg-color);

    border-left: 1px solid var(--l1-bd-color);
    border-right: 1px solid var(--l1-bd-color);
    border-bottom: 1px solid var(--l1-bd-color);
}

.box-arrow-text {
    color: var(--l1-fg-color);
    font-size: 1.5rem;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

/*第二层元素*/
.first-level-container > .horizontal-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.second-level-container {
    display: inline-block;
    color: whitesmoke;
    width: 100%;
    margin: 0 2px;
}

.second-level-progress{
    position: absolute;
    width: 100%;
    height: 8px;
    display: flex;

    left: 0;
    top: -3px;
}
.second-level-progress>.outline-bar{
    height: 100%;

    /* as same as .second-level-text's border color*/
    border-left: 1px solid var(--l2-bd-color);
    border-right: 1px solid var(--l2-bd-color);
    border-top: 3px solid var(--l2-bd-color);
    flex-grow: 1;
    padding: 2px;
}

.done{
    background: linear-gradient(to left, transparent, rgba(200, 200, 200, .2), rgba(200, 200, 200, .4));
    background: -moz-linear-gradient(left, transparent, rgba(200, 200, 200, .2), rgba(200, 200, 200, .4));
    background: -webkit-linear-gradient(left, transparent, rgba(200, 200, 200, .2), rgba(200, 200, 200, .4));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.second-level-text {
    background-color: #0070C0;
    border: 3px solid #005d9f;
    margin: 0 2px;
    padding: 0.4em 0.5em .2em .5em;
    white-space: nowrap;
    position: relative;
}

.second-level-text>.non-selectable{
    /*font-size: 1.2rem;*/
    /*max-width: 6rem;*/
    margin: .2rem auto;
    height: 1.4rem;
    /*white-space: normal;*/
}
/* 第三层元素 */

.third-level-text {
    background-color: #00B050;
    border: 2px solid #238e23;
    margin: 0 2px;
    padding: .4rem;
    position: relative;
}

.second-level-container > .horizontal-list > li {
    min-width: 2em;
}

.third-level-text>.non-selectable{
    font-size: 1.3rem;
    max-width: 2rem;
    white-space: normal;
}

.third-level-container{
    position: relative;
}

.third-level-container>.tag{
    position: absolute;
    bottom: -.5rem;
    right: -.5rem;
    font-size: 1rem;
    padding: .2rem;

    /* padding * 2 + font-size */
    width: 1.4rem;
    height: 1.4rem;

    border-radius: 50%;
    background-color: #3a7040;
    z-index: 20;
    box-shadow: 0 0 1rem grey;
}