.hopping-form label{
    text-align: right;
    white-space: nowrap;
    height: 100%;
}

.hopping-form input, .hopping-form textarea, .hopping-form .hopping-input{
    font-size: 1.2em;
    border: solid lightgrey 1px;
    border-radius: 5px;
    flex-grow: 1;
    width: 100%;
}

.hopping-form input[disabled] {
    border: none;
    background-color: transparent;
}

.hopping-form textarea {
    resize: none;
}

@keyframes hop {
    0% {
        border-bottom: lightgrey solid 1px;
        box-shadow: 0 0 0 grey;
    }

    100% {
        border-bottom: transparent solid 1px;
        box-shadow: 0 .5em .5em grey;
    }
}

.hopping-form .hopping-entry{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: .3em 0;
}

.hopping-form input,.hopping-form textarea:focus{
    /*animation: hop .1s ease-in forwards;*/
    /*outline: none;*/
}

.hopping-entry>.wide-btn{
    width: 100%;
    border: none;
    text-align: center;
    box-shadow: 0 0.2em 0.2em grey;
    color: red;
    font-size: 1.1em;
    background-color: lightgrey;
    padding: .2em;
}
@keyframes shake {
    0%{
        left: 0;
    }
    25%{
        left: .1em;
    }
    50%{
        left: 0;
    }
    75%{
        left: -.1em;
    }
    100%{
        left: 0;
    }
}
.hopping-entry>.wide-btn:hover{
    position: relative;
    font-weight: bold;
    background-color: #a90000;
    color: whitesmoke;

    /*animation: shake 500ms infinite;*/
}