#indexing{
    width: 100%;
    display: flex;
}

#indexing-right{
    width: 30%;
    flex-shrink: 0;
}

#indexing ul{
    list-style: none;
    padding: 0;
}

.indexing-item{
    font-size: 1.2em;
    display: flex;
}

#indexing-middle{
    flex-grow: 1;
}

#indexing-middle .up-file{
    width: 20em;
    align-self: end;
}

#indexing-middle .tool-kit{
    display: flex;
    justify-content: space-between;
}

#indexing-middle .tool-kit>div{
    display: flex;
    align-items: center;
}