#nav{
    background-color: #607D8B;
    display: flex;
        margin-bottom: .5em;
}

.nav-btn{
    font-size: 1.2em;
    padding: .2em 2em;
    border: none;
    outline: none;
    transition: .4s
}
.nav-btn-inactive{
    background: rgba(0,0,0,0);

}
.nav-btn-inactive:hover{
    background: rgba(255,255,255,.3);
    font-weight: bolder;
}

.nav-btn.nav-btn-active{
    background-color: darkgray;
    color: whitesmoke;
}


#save-btn{
    border: gray 2px solid;
    font-size: 1.8em;
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0 0 1em black;
    z-index: 1000;
    margin: 2px;
    padding: .3em;
    align-self: end;
    transition: .4s;
    right: 0;
    outline: none;
    position: fixed;
}
#save-btn:hover{
    background-color: #1b6d85;
    color: whitesmoke;
    border-color: transparent;
}