.selecting {
    display: inline-block;
    position: relative;
}

.header-component {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    height: 100%;
    min-height: 1.6em;
    min-width: 1.4em;
    line-height: 1;
    padding: .3em .2em;
}


.header-text>.glyphicon {
    font-size: 50%;
    height: fit-content;
    margin-left: 1em;
    cursor: pointer;

}

.header-container {
    display: flex;
    align-items: flex-end;
}

.header-text {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.hover {
    box-shadow: 0 .2em .5em grey;
    top: -.2em;
}

.selecting ol {
    list-style: none;
    display: inline-block;
    padding: 0;
    width: 100%;
    font-size: 70%;
    box-shadow: 0 .2em .5em grey;
    position: absolute;
}

.selecting ol li {
    margin-top: 2px;
    position: relative;
    text-align: center;
    background-color: white;
    padding: .2em 0;
}

.selecting ol li:hover {
    box-shadow: 0 .2em .5em grey;
    margin: 0 -.4em;
    font-size: 110%;
}

@keyframes stand-up {
    0% {
    }
    100% {
        box-shadow: 0 .2em .5em grey;
        top: -.2em;
    }
}

@keyframes sit-down {
    100% {
        box-shadow: 0 .2em .5em grey;
        top: -.2em;
    }

    0% {
        box-shadow: none;
        top: 0;
    }
}

.up {
    animation: stand-up .5s forwards ease-out;
}

.down {
    animation: sit-down .3s forwards ease-in;

}

.hide-candidates {
    opacity: 0;
}