<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/lib/vue/vue.js" type="application/javascript"></script>
    <link rel="stylesheet" href="../static/lib/slide_picture/carousel.css"/>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.css"/>

</head>
<body>
    <div id="carousel-first-level" class="carousel-ground" >
        <transition name="carousel-animates"
                    enter-class="carousel-animate-enter"
                    leave-class="carousel-animate-leave"
                    :leave-active-class="leaveToClass">
            <div id="carousel-second-level" class="carousel-image">
                <div class="image-item" :key="active" id="image-item">
                    <a :href="carousel[active].url" :title="carousel[active].title">
                        <img :src="carousel[active].image" alt="" class="image">
                    </a>
                </div>
            </div>
        </transition>
        <div class="carousel-indicator">
            <a v-for="(item,index) in carousel" :key="index" v-if="active==index" class="item active">{{ index+"/"+getLen()}}</a>
        </div>


        <a @click="move(-1)" class="left carousel-control1">
            <i class="icon1 glyphicon glyphicon-menu-left"></i>
        </a>

        <a @click="move(1)" class="right carousel-control1">
            <i class="icon1 glyphicon glyphicon-menu-right"></i>
        </a>
    </div>

<script type="application/javascript">
    let carousels=[//轮播内容
        {"url":"#","image":"../static/lib/slide_picture/b1.png","title":"xxx"},
        {"url":"#","image":"../static/lib/slide_picture/b2.png","title":"xx"},
        {"url":"#","image":"../static/lib/slide_picture/b3.png","title":"x"},
        {"url":"#","image":"../static/lib/slide_picture/b1.png","title":"xxx"},
        {"url":"#","image":"../static/lib/slide_picture/b2.png","title":"xx"},
        {"url":"#","image":"../static/lib/slide_picture/b3.png","title":"x"}
    ]
    let carousel = new Vue({
        el:'#carousel-first-level',
        data:{
            active:0,//当前轮播图位置
            carousel:carousels,//轮播内容
            leaveToClass:"",//轮播图片离开时的动画，不同方向，动画不同
        },
        methods:{
            move:function (direction,index) {//direction为轮播方向，正数为右，负数为左。index为当前轮播图
                var num=this.active;
                num=index!==undefined?index:num+direction;

                num=num>=this.carousel.length?0:
                    num<0?this.carousel.length-1:num;

                this.active=num;

                this.leaveToClass=direction>0?"carousel-animate-leave-to-left":"carousel-animate-leave-to-right";
            },
            getLen:function () {
                return this.carousel.length;
            }
        },
        created:function () {//创建实例之后获取

            var images = [];
            for(var i =0; i< this.carousel.length;i++) {//预加载图片
                images[i] = new Image();
                images[i].src = this.carousel[i].image;
            }

            if(this.carousel===undefined||Object.prototype.toString.call(this.carousel)!=='[object Array]'){
                console.error("请正确设置您的轮播内容");
            }else if(this.carousel.length<1){
                console.warn("轮播图少于一张，无法轮播")
            }else {
                //console.log(images)
                //this.carouselAnimate();//开始轮播
            }
        },
        destroyed:function () {//销毁组件时清除定时器
            clearTimeout(this.times)
        }
    });
</script>
</body>
</html>