<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/graph-components.css">
    <script src="/static/lib/vue.js"></script>
    <script src="/static/js/components/graph-components.js"></script>
    <script src="/static/lib/bootstrap/js/axios.min.js"></script>
</head>
<body>
<div id="graph-container" class="graph-container">
    <first-level-item v-for="(firstLevelItem, firstLevelIdx) in structure.firstLevelItems"
                      :first="firstLevelItem" :key="firstLevelIdx" :id="makeId(1, firstLevelIdx)">

    </first-level-item>

</div>

<div id="detail">

</div>

<script>
    let graph = new Vue({
        el: '#graph-container',
        data: {
            selection: [],
            structure: {
                name: "默认",
                firstLevelItems: [
                    {
                        name: "人口失踪报案",
                        secondLevelItems: [
                            {
                                name: "人口失踪情况",
                                outlines: [
                                    {
                                        name: "报案人",
                                        content: ""
                                    },
                                    {
                                        name: "失踪人身份",
                                        content: ""
                                    },
                                    {
                                        name: "失踪时间",
                                        content: ""
                                    }
                                ],
                                thirdLevelItems: [
                                    {
                                        name: "证人证言",
                                        content: []
                                    },
                                    {
                                        name: "书证",
                                        content: []
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "查找被害人，确认死者身份",
                        secondLevelItems: [
                            {
                                name: "死者身份信息及主要社会关系",
                                outlines: [
                                    {
                                        name: "身份信息",
                                        content: ""
                                    },
                                    {
                                        name: "社会关系",
                                        content: ""
                                    }
                                ],
                                thirdLevelItems: [
                                    {
                                        name: "证人证言",
                                        content: []
                                    },
                                    {
                                        name: "被害人陈述",
                                        content: []
                                    },
                                    {
                                        name: "书证",
                                        content: []
                                    },
                                    {
                                        name: "鉴定意见",
                                        content: []
                                    }
                                ]
                            },
                            {
                                name: "死亡时间",
                                outlines: [
                                    {
                                        name: "死亡时间",
                                        content: ""
                                    }
                                ],
                                thirdLevelItems: [
                                    {
                                        name: "证人证言",
                                        content: []
                                    },
                                    {
                                        name: "视听材料",
                                        content: []
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "锁定犯罪嫌疑人及到案经过",
                        secondLevelItems: [
                            {
                                name: "犯罪嫌疑人是如何被锁定与到案的",
                                outlines: [
                                    {
                                        name: "犯罪嫌疑人的锁定过程",
                                        content: ""
                                    },
                                    {
                                        name: "犯罪嫌疑人的到案过程",
                                        content: ""
                                    }
                                ],
                                thirdLevelItems: [
                                    {
                                        name: "书证",
                                        content: []
                                    },
                                    {
                                        name: "证人证言",
                                        content: []
                                    },
                                    {
                                        name: "视听材料",
                                        content: []
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "查证犯罪事实",
                        secondLevelItems: []
                    },

                    {
                        name: "证据充分性及排他性说明",
                        secondLevelItems: [
                            {
                                name: "证明事项及相关证据缺失情况及原因",
                                outlines: [
                                    {
                                        name: "缺失情况及原因",
                                        content: []
                                    }
                                ]
                            },
                            {
                                name: "证据内容之间的冲突情况及原因",
                                outlines: [
                                    {
                                        name: "冲突情况及原因",
                                        content: []
                                    }
                                ]
                            },
                            {
                                name: "是否存在遗漏共犯或替人顶罪的情况",
                                outlines: [
                                    {
                                        name: "遗漏共犯的情况",
                                        content: ""
                                    },
                                    {
                                        name: "替人顶罪的情况",
                                        content: ""
                                    }
                                ]
                            },
                            {
                                name: "其他关于证据链条完整性",
                                outlines: [
                                    {
                                        name: "其他",
                                        content: []
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "罪前罪后表现及其他量刑情节",
                        secondLevelItems: [
                            {
                                name: "法定情节",
                                outlines: [
                                    {
                                        name: "累犯",
                                        content: ""
                                    },
                                    {
                                        name: "立功",
                                        content: ""
                                    },
                                    {
                                        name: "坦白",
                                        content: ""
                                    },
                                    {
                                        name: "自首",
                                        content: ""
                                    }
                                ]
                            },
                            {
                                name: "酌定情节",
                                outlines: [
                                    {
                                        name: "犯罪前科",
                                        content: ""
                                    },
                                    {
                                        name: "退赃",
                                        content: ""
                                    },
                                    {
                                        name: "退赔",
                                        content: ""
                                    },
                                    {
                                        name: "取得谅解",
                                        content: ""
                                    },
                                    {
                                        name: "被害人过错",
                                        content: ""
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "涉嫌罪名",
                        secondLevelItems: [
                            {
                                name: "罪名",
                                outlines: []
                            }
                        ]
                    }
                ]
            }
        },
        
        methods: {
            select: function (firstIdx, secondIdx, thirdIdx) {
                // 将参数列表转为数组
                this.selection = Array.apply(this, arguments)
            }
        },
        
        created: function () {
            return;
            const url = "http://localhost:5000/get-graph";
            axios.get(url).then(function (result) {
                // result是所有的返回回来的数据
                // 包括了响应报文行
                // 响应报文头
                // 响应报文体
                console.log(result.data);
                this.structure = result.data;
                console.log(this.structure)
                //this.name = result.data.message[0].name;
            });
        },
        methods: {
            makeId: function (level, offset) {
                return `l${level}-${offset}`
            }
        }
    });

    let detail = new Vue({
        el: '#detail',
        data: {

        }
    })
</script>
</body>
</html>