<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XXX系统</title>
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main-config.css">
    <link rel="stylesheet" href="/static/lib/input_file/input_file.css">
    <script src="/static/lib/vue/vue.js"></script>
    <script src="/static/js/vue-components/file-uploader.js"></script>
</head>
<body>
<main id="main">
    <ul class="list" id="graph-list" @click="selectGraph();">
        <!-- 新增 案由 （配置文件） -->
        <li class="graph graph-entry entry-normal">
            <div>
                <file-uploader @validate="validateGraphFile"
                               @upload="uploadGraphFile"
                               :forbid-upload="configFileForbid"
                               :input-text="configFileName"
                               :btn-text="`<span class='glyphicon glyphicon-plus'></span>`">

                </file-uploader>
            </div>
        </li>
        <li role="separator" class="separator"></li>

        <!-- 案由列表项 -->
        <li v-for="(graphName, idx) in graphList"
            :class="['entry', 'graph-entry', idx === curGraphId?'entry-selected':'entry-normal']"
            @click="getCases(graphName, idx)">
            <span class="entry-name" v-text="graphName"></span>
            <span @click="removeGraph(graphName)" class="entry-control entry-control-remove" v-if="idx === curGraphId">
                <div>
                    <span class="glyphicon glyphicon-remove "></span>
                </div>
            </span>
        </li>
    </ul>
    <ul :class="['list', caseList.length===0?'empty':'']" id="case-list">
        <!-- 案件 新建 -->
        <li class="entry case-entry" v-if="curGraphId>=0">
            <input class="entry-name" v-model="newCaseId" placeholder="输入 #案号# 以新建">
            <span class="entry-control entry-control-add"
                  :class="[isCaseIdValid()?'':'invalid-control']"
                  @click="createCase">
                <div>
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
            </span>
        </li>

        <!-- 案件 列表项 -->
        <li v-for="(caseId, idx) in caseList"
            :class="['entry', 'case-entry']">
            <a class="entry-name" :href="`/config-graph?case-id=${caseId}`"
               target="_blank" v-text="caseId"></a>
            <span class="entry-control entry-control-remove" @click="removeCase(caseId);">
                <div>
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </span>
        </li>
    </ul>
</main>

<script>
    let main = new Vue({
        el: "#main",
        data: {
            creatingGraph: false,
            curGraphId: -1,
            graphList: [],
            configFileName: '选择案由配置文件',
            configFileForbid: true,

            caseList: [],
            newCaseId: ''
        },
        methods: {
            createGraph: function () {
                this.creatingGraph = !this.creatingGraph;
            },
            removeGraph: function (graphName) {
                const url = `/remove-graph?graph-name=${graphName}`;
                fetch(url, {
                    method: "get"
                }).then((res) => {
                    if(res.ok)
                        this.refresh();
                })
            },
            uploadGraphFile: function (files) {
                const url = "/upload-graph";
                let formData = new FormData();

                files.forEach((temp) => {
                    let filename = temp.name;
                    formData.append(filename, temp);
                });

                fetch(url, {
                    method: 'post',
                    body: formData
                }).then(res => {
                    if (res.ok) {
                        res.json().then(j=>console.dir(j));
                        this.refresh();
                    }
                }).catch(err => {
                    console.error(err);
                })
            },
            validateGraphFile: function (files) {
                let notJson = files.some(f => f.name.split('.').pop().toLowerCase() !== 'json');
                if (files.length === 0) {
                    this.configFileName = '至少选择一个文件';
                } else if (notJson) {
                    this.configFileName = '只允许 .json 文件'
                } else if (files.length === 1) {
                    this.configFileName = files[0].name;
                } else {
                    this.configFileName = `${files.length}个文件`
                }
                this.configFileForbid = notJson || files.length === 0;
            },
            getCases: function (graphName, idx) {
                if (arguments.length > 1) window.event['graphIdx'] = idx;

                const url = `/get-cases?graph-name=${graphName}`;
                fetch(url).then((response) => {
                    if (response.status !== 200) {
                        console.error("存在一个问题，状态码为：" + response.status);
                        return null;
                    }

                    response.json().then((data) => {
                        this.caseList = data;
                        console.dir(this.caseList);
                    })
                })
            },
            selectGraph: function () {
                let idx = parseInt(window.event['graphIdx']);
                if (idx >= 0) {
                    this.curGraphId = idx;
                } else {
                    this.curGraphId = -1;
                    this.caseList = [];
                }
            },
            isCaseIdValid: function () {
                let id = this.newCaseId;
                return !(id === undefined ||
                    id === null ||
                    id === '' ||
                    this.caseList.some(caseId => caseId === id));
            },
            createCase: function () {
                if (!this.isCaseIdValid()) {
                    console.info('案号不合法')
                }
                let graphName = this.graphList[this.curGraphId];
                const url = `/get-case?case_id=${this.newCaseId}&graph_name=${graphName}`;
                fetch(url, {
                    method: 'get'
                }).then(res => {
                    // 省略参数 id
                    if (res.ok) this.getCases(graphName)
                })
            },
            removeCase: function (caseId) {
                const url = `/remove-case?case_id=${caseId}`;
                fetch(url, {
                    method: 'get'
                }).then(res => {
                    if (res.ok) {
                        res.json().then(j => {
                            console.dir(j);
                            this.getCases(this.graphList[this.curGraphId]);
                        })
                    }
                })
            },
            refresh: function () {
                const url = "/get-graph-list";
                fetch(url,).then((response) => {
                    if (response.status !== 200) {
                        console.error("存在一个问题，状态码为：" + response.status);
                        return null;
                    }

                    response.json().then((data) => {
                        this.graphList = Array(...data);
                    })
                });
            }
        },

        created: function () {
            this.refresh();
        }
    });

</script>
</body>
</html>
