<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdateComponent</title>
    <link href="../static/css/autou-pdate-check-box.css" rel="stylesheet" type="text/css">
    <script src="../static/lib/auto_update_box/auto-update.js"></script>
</head>
<body>

<div id="level1" class="toggle-button-wrapper">
    <div id="level2" class="toggle-button">
        <input type="checkbox" id="toggle-button" name="switch">
        <label id="level3" for="toggle-button" class="button-label">
            <span id="level4line" class="line"></span>
            <span id="level4circle" class="circle"></span>
        </label>
    </div>
    <label id="saving"></label>
    <label id="ok"></label>
</div>
<button onclick="change()">save</button>
<button onclick="ret()">ok</button>

</body>
</html>