<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdateComponent</title>
    <link href="../static/css/autoUpdateCheckBox.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="level1" class="toggle-button-wrapper">
    <div id="level2" class="toggle-button">
        <input type="checkbox" id="toggle-button" name="switch">
        <label id="level3" for="toggle-button" class="button-label">
            <span id="level4line" class="line"></span>
            <span id="level4circle" class="circle"></span>
            <!--
            <span class="text on">ON</span>
            <span class="text off">OFF</span>
            -->
        </label>
    </div>
    <label id="saving"></label>
    <label id="ok"></label>
</div>

<!--
<div class="loader">
    <div class="face">
        <div class="circle1"></div>
    </div>
    <label class="text saving">saving</label>
    <label class="text ok">ok</label>
</div>
-->

<button onclick="change()">save</button>
<button onclick="ret()">ok</button>

<script type="application/javascript">
    function change() {
        document.querySelector("#level1").className = "loader"
        document.querySelector("#level2").className = "face"
        document.querySelector("#level3").className = "circle1"
        document.querySelector("#level4circle").className = "updatingCiecle"
        document.querySelector("#level4line").className = "updatingline"
        document.querySelector("#saving").className = "text saving"
        document.querySelector("#ok").className = "text ok"
        document.querySelector("#saving").innerHTML = "saving"
        document.querySelector("#ok").innerHTML = "ok"
    }
    function ret() {
        //document.querySelector("#level2").className="faceChange"
        document.querySelector("#saving").className = "text saving1"
        document.querySelector("#ok").className = "text ok1"
        setTimeout(optimal, 1000)
    }
    function optimal() {
        document.querySelector("#level1").className = "toggle-button-wrapper"
        document.querySelector("#level2").className = "toggle-button"
        document.querySelector("#level3").className = "button-label"
        document.querySelector("#level4circle").className = "circle"
        document.querySelector("#level4line").className = "line"
        document.querySelector("#saving").className = ""
        document.querySelector("#ok").className = ""
        document.querySelector("#saving").innerHTML = ""
        document.querySelector("#ok").innerHTML = ""
    }
</script>

</body>
</html>