<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/graph-components.css">
    <link rel="stylesheet" href="/static/css/selectable-header.css">
    <link rel="stylesheet" href="/static/css/graph-detail.css">
    <link rel="stylesheet" href="/static/css/media-resource.css">
    <link rel="stylesheet" href="/static/lib/input_file/input_file.css">
    <script src="/static/lib/vue.js"></script>
    <script src="/static/js/vue-components/selectable-header.js"></script>
    <script src="/static/js/vue-components/media-resource.js"></script>
    <script src="/js/input_file.js"></script>
</head>
<body>
<div id="graph-container" class="graph-container" @click="select(0, 0)">
    <!--<div class="graph-mask"></div>-->
    <div v-for="(first, firstLevelIdx) in structure.firstLevelItems"
         class="first-level-container" @click="select(1, firstLevelIdx);">
        <div class="box-arrow graph-item-selectable"
             :class="[ isSelected(firstLevelIdx) ? 'graph-item-selected' : 'graph-item-unselected' ]">
            <div class="box-arrow-text non-selectable">{{ first.name }}</div>
            <div class="box-arrow-bg">
                <div class="box-arrow-bg-top"></div>
                <div class="box-arrow-bg-bottom"></div>
            </div>
        </div>
        <ul class="horizontal-list">
            <li v-for="(second, secondLevelIdx) in first.secondLevelItems">
                <div class='second-level-container' @click="select(2, secondLevelIdx);">
                    <div class="second-level-text graph-item-selectable"
                         :class="[ isSelected(firstLevelIdx, secondLevelIdx) ? 'graph-item-selected' : 'graph-item-unselected']">
                        <div class="non-selectable">{{ second.name.substring(0, parseInt(1 + second.name.length)/2) }}</div>
                        <div class="non-selectable">{{ second.name.substring(parseInt(1 + second.name.length)/2) }}</div>
                    </div>
                    <ul class="horizontal-list">
                        <li v-for="(third, thirdLevelIdx) in second.thirdLevelItems"
                            :style="{width: parseInt(100 * third.name.length /
                                    second.thirdLevelItems.map(i => i.name.length).reduce((x1, x2) => x1+x2)) + '%'}">
                            <div class="third-level-container" @click="select(3, thirdLevelIdx)">
                                <div ondblclick="window.location = '#third-level-section'"
                                     class="third-level-text graph-item-selectable"
                                     :class="[isSelected(firstLevelIdx, secondLevelIdx, thirdLevelIdx) ? 'graph-item-selected':'graph-item-unselected' ]">
                                    <span class="non-selectable"> {{ third.name }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<article id="detail">
    <section id="first-level-section">
        <selectable-header v-on:change-candidate="changeCandidate"
                           v-on:step="step"
                           name="first-level-header"
                           :candidates="firstLevelHeader.list()"
                           :selected="firstLevelHeader.selectedIdx()"
                           :plain="firstLevelHeader.plain">

        </selectable-header>
        <hr/>
    </section>

    <section id="second-level-section">
        <selectable-header @change-candidate="changeCandidate" @step="step"
                           name="second-level-header"
                           :candidates="secondLevelHeader.list()"
                           :selected="secondLevelHeader.selectedIdx()"
                           :plain="secondLevelHeader.plain"></selectable-header>
        <hr/>
    </section>

    <section id="third-level-section">
        <selectable-header @change-candidate="changeCandidate" @step="step"
                           name="third-level-header"
                           :candidates="thirdLevelHeader.list()"
                           :selected="thirdLevelHeader.selectedIdx()"
                           :plain="thirdLevelHeader.plain"></selectable-header>
        <hr/>
        <div class="media-source-list">
            <!-- resource list -->
            <ul>
                <li><media-resource type="audio" name="音频1" description="这里是音频的描述"></media-resource></li>
                <li><media-resource type="video" name="video-视频123456" description="这里是音频的描述"></media-resource></li>
                <li><media-resource type="image" name="image-这是一张名字很长的图片啦啦啦" description="这里是音频的描述"></media-resource></li>
                <li v-for="media in "></li>
            </ul>
        </div>
        <div>
            <!--
                # 规则
                在某一次上传时，只可以上传：
                一个视频文件，或
                一个音频文件，或
                多个图片文件

                > 暂时使用原生的input元素，由我来处理样式
            -->

            <div class="up-file">
                <div class="input-file">
                    <!-- fixme @杨关 html中的id和class都使用短横线连接， html是不区分大小写的-->
                    <input id="uploadMedia" type="file" name="filename" multiple="multiple" onchange="validate()"/>选择文件<br>
                </div>
                <button id="uploadButton" class="up-button" onclick="upFile()" disabled>上传</button>
                <label id="validateLabel" class="up-label"></label>
            </div>
        </div>
    </section>
</article>

<script>
    let graph = new Vue({
        el: '#graph-container',
        data: {
            selection: [-1, -1, -1],
            structure: {
                name: "默认",
                firstLevelItems: [
                    {
                        name: "人口失踪报案",
                        secondLevelItems: [
                            {
                                name: "人口失踪情况",
                                outlines: [
                                    {
                                        name: "报案人",
                                        content: ""
                                    },
                                    {
                                        name: "失踪人身份",
                                        content: ""
                                    },
                                    {
                                        name: "失踪时间",
                                        content: ""
                                    }
                                ],
                                thirdLevelItems: [
                                    {
                                        name: "证人证言",
                                        content: []
                                    },
                                    {
                                        name: "书证",
                                        content: []
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "查找被害人，确认死者身份",
                        secondLevelItems: [
                            {
                                name: "死者身份信息及主要社会关系",
                                outlines: [
                                    {
                                        name: "身份信息",
                                        content: ""
                                    },
                                    {
                                        name: "社会关系",
                                        content: ""
                                    }
                                ],
                                thirdLevelItems: [
                                    {
                                        name: "证人证言",
                                        content: []
                                    },
                                    {
                                        name: "被害人陈述",
                                        content: []
                                    },
                                    {
                                        name: "书证",
                                        content: []
                                    },
                                    {
                                        name: "鉴定意见",
                                        content: []
                                    }
                                ]
                            },
                            {
                                name: "死亡时间",
                                outlines: [
                                    {
                                        name: "死亡时间",
                                        content: ""
                                    }
                                ],
                                thirdLevelItems: [
                                    {
                                        name: "证人证言",
                                        content: []
                                    },
                                    {
                                        name: "视听材料",
                                        content: []
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "锁定犯罪嫌疑人及到案经过",
                        secondLevelItems: [
                            {
                                name: "犯罪嫌疑人是如何被锁定与到案的",
                                outlines: [
                                    {
                                        name: "犯罪嫌疑人的锁定过程",
                                        content: ""
                                    },
                                    {
                                        name: "犯罪嫌疑人的到案过程",
                                        content: ""
                                    }
                                ],
                                thirdLevelItems: [
                                    {
                                        name: "书证",
                                        content: []
                                    },
                                    {
                                        name: "证人证言",
                                        content: []
                                    },
                                    {
                                        name: "视听材料",
                                        content: []
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "查证犯罪事实",
                        secondLevelItems: []
                    },

                    {
                        name: "证据充分性及排他性说明",
                        secondLevelItems: [
                            {
                                name: "证明事项及相关证据缺失情况及原因",
                                outlines: [
                                    {
                                        name: "缺失情况及原因",
                                        content: []
                                    }
                                ]
                            },
                            {
                                name: "证据内容之间的冲突情况及原因",
                                outlines: [
                                    {
                                        name: "冲突情况及原因",
                                        content: []
                                    }
                                ]
                            },
                            {
                                name: "是否存在遗漏共犯或替人顶罪的情况",
                                outlines: [
                                    {
                                        name: "遗漏共犯的情况",
                                        content: ""
                                    },
                                    {
                                        name: "替人顶罪的情况",
                                        content: ""
                                    }
                                ]
                            },
                            {
                                name: "其他关于证据链条完整性",
                                outlines: [
                                    {
                                        name: "其他",
                                        content: []
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "罪前罪后表现及其他量刑情节",
                        secondLevelItems: [
                            {
                                name: "法定情节",
                                outlines: [
                                    {
                                        name: "累犯",
                                        content: ""
                                    },
                                    {
                                        name: "立功",
                                        content: ""
                                    },
                                    {
                                        name: "坦白",
                                        content: ""
                                    },
                                    {
                                        name: "自首",
                                        content: ""
                                    }
                                ]
                            },
                            {
                                name: "酌定情节",
                                outlines: [
                                    {
                                        name: "犯罪前科",
                                        content: ""
                                    },
                                    {
                                        name: "退赃",
                                        content: ""
                                    },
                                    {
                                        name: "退赔",
                                        content: ""
                                    },
                                    {
                                        name: "取得谅解",
                                        content: ""
                                    },
                                    {
                                        name: "被害人过错",
                                        content: ""
                                    }
                                ]
                            }
                        ]
                    },

                    {
                        name: "涉嫌罪名",
                        secondLevelItems: [
                            {
                                name: "罪名",
                                outlines: []
                            }
                        ]
                    }
                ]
            }
        },

        methods: {
            select: function (level, idx) {
                /*
                * `this.selection`是一个列表，保存当前选择的项目，
                * 值为`-1`表示这一层没有项目被选中
                *
                * > 注意：在选择低层的项目时，会同时选中它所有的父级项目
                * */
                let e = window.event;
                switch (level) {
                    case 3:
                        e['selection'] = [-1, -1, idx];
                        break;
                    case 2:
                        if (e['selection']) {
                            e['selection'][1] = idx;
                        } else {
                            e['selection'] = [-1, idx, -1];
                        }
                        break;
                    case 1:
                        if (e['selection']) {
                            e['selection'][0] = idx;
                        } else {
                            e['selection'] = [idx, -1, -1];
                        }
                        break;
                    case 0:
                        this.selection = e['selection'] || [-1, -1, -1];
                        console.log(this.selection);
                }
            },

            isSelected: function (...idxTree) {
                // `...`称为rest parameters, 传入方法的所有参数将被转为数组存入`idxTree`
                if (idxTree.length === 0 || this.selection.map(_ => _ === -1).reduce((x1, x2) => x1 && x2)) return false;
                for (let i = 0; i < idxTree.length; i++) {
                    if (idxTree[i] !== this.selection[i])
                        return false
                }
                return true;
            }
        },


        created: function () {
            const url = "/get-case?case_id=测试案号123";
            fetch(url).then(function (response) {
                if (response.status !== 200) {
                    // todo #提示 使用 console.[error|warn]来区别输出级别，console.table来显示数组
                    console.error("存在一个问题，状态码为：" + response.status);
                    return;
                }
                //检查响应文本
                response.json().then(function (data) {
                    console.log(data);
                    this.structure = data
                });
            }).catch(function (err) {
                console.error("Fetch错误:" + err);
            })
            // todo @所有人 从axios迁移到fetch
            //  axios并不是vue内置的库，它是一个第三方库；
            //  fetchAPI提供一个统一的编程标准，并且已经被所有主流浏览器支持，（IE）已经被放弃了
            // 可以在 www.caniuse.com 自己探索
            // 我们应当尽量使用内置的、统一的编程标准
        },
    });

    let detail = new Vue({
        el: '#detail',
        data: {
            firstLevelHeader: {
                list: function () {
                    if (graph.structure.firstLevelItems)
                        return graph.structure.firstLevelItems.map(i => i['name']);
                    else
                        return [];
                },

                selectedIdx: function () {
                    return graph.selection[0];

                },

                plain: false
            },
            secondLevelHeader: {
                list: function () {
                    let firstIdx = graph.selection[0];
                    if (graph.structure.firstLevelItems
                        && graph.structure.firstLevelItems[firstIdx]
                        && graph.structure.firstLevelItems[firstIdx].secondLevelItems) {
                        return graph.structure.firstLevelItems[firstIdx].secondLevelItems.map(i => i['name']);
                    } else {
                        return [];
                    }
                },

                selectedIdx: function () {
                    return graph.selection[1]
                },

                plain: false
            },

            thirdLevelHeader: {
                list: function () {
                    let firstIdx = graph.selection[0];
                    let secondIdx = graph.selection[1];
                    if (graph.structure.firstLevelItems
                        && graph.structure.firstLevelItems[firstIdx]
                        && graph.structure.firstLevelItems[firstIdx].secondLevelItems
                        && graph.structure.firstLevelItems[firstIdx].secondLevelItems[secondIdx]
                        && graph.structure.firstLevelItems[firstIdx].secondLevelItems[secondIdx].thirdLevelItems) {
                        return graph.structure.firstLevelItems[firstIdx].secondLevelItems[secondIdx].thirdLevelItems.map(i => i['name']);
                    } else {
                        return [];
                    }
                },

                selectedIdx: function () {
                    return graph.selection[2]
                },

                plain: false
            }

        },

        methods: {
            changeCandidate: function (idx, componentName) {
                if (componentName === 'first-level-header') {
                    graph.selection = [idx, -1, -1]
                } else if (componentName === 'second-level-header') {
                    graph.selection = [graph.selection[0], idx, -1]
                } else if (componentName === 'third-level-header') {
                    graph.selection = [graph.selection[0], graph.selection[1], idx];
                }
            },

            step: function (direction, componentName) {
                let levelHeader = null;
                if (componentName === 'first-level-header') {
                    levelHeader = this.firstLevelHeader;
                } else if (componentName === 'second-level-header') {
                    levelHeader = this.secondLevelHeader;
                } else if (componentName === 'third-level-header') {
                    levelHeader = this.thirdLevelHeader;
                }

                if (levelHeader && levelHeader.selectedIdx() !== -1) {
                    let test = levelHeader.selectedIdx();
                    let length = levelHeader.list().length;

                    if (direction === 'left') test--;
                    else if (direction === 'right') test++;

                    if (test >= 0 && test < length) {
                        this.changeCandidate(test, componentName);
                    }
                }
            }
        }
    })
</script>
</body>
</html>