<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/graph-components.css">
    <link rel="stylesheet" href="/static/css/selectable-header.css">
    <link rel="stylesheet" href="/static/css/graph-detail.css">
    <link rel="stylesheet" href="/static/css/media-resource.css">
    <link rel="stylesheet" href="/static/css/hopping-form.css">
    <link rel="stylesheet" href="/static/lib/input_file/input_file.css">
    <link rel="stylesheet" href="/static/css/tab-text-editor.css">
    <script src="/static/lib/vue/vue.js"></script>
    <script src="/static/js/vue-components/tab-text-editor.js"></script>
    <script src="/static/js/vue-components/selectable-header.js"></script>
    <script src="/static/js/vue-components/media-resource.js"></script>
    <script src="/static/js/vue-components/file-uploader.js"></script>
</head>
<body>
<div id="graph-container" class="graph-container" @click="select(0, 0)">
    <!--<div class="graph-mask"></div>-->
    <div v-for="(first, firstLevelIdx) in structure.firstLevelItems"
         class="first-level-container" @click="select(1, firstLevelIdx);">
        <div class="box-arrow graph-item-selectable"
             :class="[ isSelected(firstLevelIdx) ? 'graph-item-selected' : 'graph-item-unselected' ]">
            <div class="box-arrow-text non-selectable">{{ first.name }}</div>
            <div class="box-arrow-bg">
                <div class="box-arrow-bg-top"></div>
                <div class="box-arrow-bg-bottom"></div>
            </div>
        </div>
        <ul class="horizontal-list">
            <li v-for="(second, secondLevelIdx) in first.secondLevelItems">
                <div class='second-level-container' @click="select(2, secondLevelIdx);">
                    <div class="second-level-text graph-item-selectable"
                         :class="[ isSelected(firstLevelIdx, secondLevelIdx) ? 'graph-item-selected' : 'graph-item-unselected']">
                        <div class="non-selectable">{{ second.name.substring(0, parseInt(1 + second.name.length)/2) }}
                        </div>
                        <div class="non-selectable">{{ second.name.substring(parseInt(1 + second.name.length)/2) }}
                        </div>
                    </div>
                    <ul class="horizontal-list">
                        <li v-for="(third, thirdLevelIdx) in second.thirdLevelItems"
                            :style="{width: parseInt(100 * third.name.length /
                                    second.thirdLevelItems.map(i => i.name.length).reduce((x1, x2) => x1+x2)) + '%'}">
                            <div class="third-level-container" @click="select(3, thirdLevelIdx)">
                                <div ondblclick="window.location = '#third-level-section'"
                                     class="third-level-text graph-item-selectable"
                                     :class="[isSelected(firstLevelIdx, secondLevelIdx, thirdLevelIdx) ? 'graph-item-selected':'graph-item-unselected' ]">
                                    <span class="non-selectable"> {{ third.name }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- todo #HTML5语义化标签 https://developer.mozilla.org/zh-CN/docs/Web/Guide/HTML/HTML5/HTML5_element_list -->
<main id="detail">
    <section id="first-level-section">
        <selectable-header v-on:change-candidate="changeCandidate"
                           v-on:step="step"
                           name="first-level-header"
                           :candidates="firstLevel.listNames()"
                           :selected="firstLevel.selectedIdx()"
                           :plain="firstLevel.plain">

        </selectable-header>
        <div class="level-content"
             :class="[firstLevel.plain || firstLevel.selectedIdx !== -1? 'level-content-out':'level-content-in']">
            <div>
                1
                <br/>
                2
                <br/>
                2
                3
                <br/>
                4
                4
                <br/>
                5

            </div>
        </div>

    </section>

    <div id="editor">
        <section class="" id="second-level-section">
            <selectable-header @change-candidate="changeCandidate" @step="step"
                               name="second-level-header"
                               :candidates="secondLevel.listNames()"
                               :selected="secondLevel.selectedIdx()"
                               :plain="secondLevel.plain"></selectable-header>
            <hr/>
            <tab-text-editor :tabs="secondLevel.tabs" :contents="secondLevel.contents" :pointer="secondLevel.pointer"
                             @change-tab="changeTab"></tab-text-editor>

        </section>
        <section class="" id="third-level-section">
            <selectable-header @change-candidate="changeCandidate" @step="step"
                               name="third-level-header"
                               :candidates="thirdLevel.listNames()"
                               :selected="thirdLevel.selectedIdx()"
                               :plain="thirdLevel.plain"></selectable-header>
            <hr/>
            <div class="media-source-list">
                <!-- resource list -->
                <ul>
                    <li @click="createMedia()">
                        <media-resource class="media-create" type="create" name="新文件"
                                        description=""></media-resource>
                    </li>
                    <li role="separator" style="width: 2em;"></li>
                    <li v-for="(media, i) in (thirdLevel.mediaList() || [])" @click="chooseMedia(i)">
                        <media-resource :type="media.type" :name="media.name"
                                        :description="media.description"
                        ></media-resource>

                    </li>
                </ul>
            </div>
            <div id="third-level-detail">
                <!-- 左看 -->
                <div id="media-previewer"
                     :class="[thirdLevel.previewMedia && parseInt(thirdLevel.mediaPointer)>=0? 'show-media' : 'hide-media']">
                    <video v-if="previewMedia()['type'] !== false" :src="previewMedia()['urls'][0]" controls></video>
                </div>
                <div id="media-separator" @click="switchMedia">
                    <div class="glyphicon glyphicon-option-vertical"></div>
                </div>

                <!-- 右写 -->
                <div id="media-editor" class="">

                    <div class="hopping-form">
                        <!--
                        <div class="row hopping-entry">
                            <label for="input-type" class="col-md-2">资源类型</label>
                            <input id="input-type" class="col-md-10" :disabled="detailMedia().type === 'create'" v-model="detailMedia().type">
                        </div>
                        -->
                        <div class="hopping-entry">
                            <label for="input-name">资源名称：</label>
                            <input id="input-name" v-model="detailMedia().name">
                        </div>
                        <div id="media-description" class="hopping-entry">
                            <label for="input-description">资源描述：</label>
                            <textarea id="input-description"
                                      v-model="detailMedia().description"></textarea>
                        </div>
                        <div class="hopping-entry" v-if="thirdLevel.mediaPointer===-1">
                            <label for="file-up-container">选择文件：</label>
                            <div id="file-up-container" class="hopping-input">
                                <!--
                                    # 规则
                                    在某一次上传时，只可以上传：
                                    一个视频文件，或
                                    一个音频文件，或
                                    多个图片文件
                                -->

                                <file-uploader :forbid-upload="thirdLevel.forbidUpload"
                                               :input-text="thirdLevel.inputText"
                                               @validate="validateMedia"
                                               @upload="uploadMedia">
                                </file-uploader>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>


</main>

<script>
    let graph = new Vue({
        el: '#graph-container',
        data: {
            selection: [-1, -1, -1],
            structure: {}
        },

        methods: {
            select: function (level, idx) {
                /*
                * `this.selection`是一个列表，保存当前选择的项目，
                * 值为`-1`表示这一层没有项目被选中
                *
                * > 注意：在选择低层的项目时，会同时选中它所有的父级项目
                * */
                let e = window.event;
                switch (level) {
                    case 3:
                        e['selection'] = [-1, -1, idx];
                        break;
                    case 2:
                        if (e['selection']) {
                            e['selection'][1] = idx;
                        } else {
                            e['selection'] = [-1, idx, -1];
                        }
                        break;
                    case 1:
                        if (e['selection']) {
                            e['selection'][0] = idx;
                        } else {
                            e['selection'] = [idx, -1, -1];
                        }
                        break;
                    case 0:
                        this.selection = e['selection'] || [-1, -1, -1];
                        console.log(this.selection);
                }
            },

            isSelected: function (...idxTree) {
                // `...`称为rest parameters, 传入方法的所有参数将被转为数组存入`idxTree`
                if (idxTree.length === 0 || this.selection.map(_ => _ === -1).reduce((x1, x2) => x1 && x2)) return false;
                for (let i = 0; i < idxTree.length; i++) {
                    if (idxTree[i] !== this.selection[i])
                        return false
                }
                return true;
            },

            updateData: function () {
                const url = "/get-case?case_id=测试案号123";

                // fetch(url).then(function (response) {
                //     if (response.status !== 200) {
                //         // todo #提示 使用 console.[error|warn]来区别输出级别，console.table来显示数组
                //         console.error("存在一个问题，状态码为：" + response.status);
                //         return;
                //     }
                //     //检查响应文本
                //     response.json().then(function (data) {
                //         console.log(data);
                //         todo @杨关 js中的`this`指向的对象比较奇怪，指的是调用方法的那个对象，即`response.json()`而不是graph
                //         this.structure = data
                //     });
                // }).catch(function (err) {
                //     console.error("Fetch错误:" + err);
                // })

                // todo @杨关 使用lambda表达式代替`function`可以避免`this`瞎指
                fetch(url).then((response) => {
                    if (response.status !== 200) {
                        console.error("存在一个问题，状态码为：" + response.status);
                        return null;
                    }

                    response.json().then((data) => {
                        console.log(data);
                        this.structure = data;
                    })
                })
            },
        },


        created: function () {
            this.updateData();
        }
    });

    let detail = new Vue({
        el: '#detail',
        data: {
            firstLevel: {
                listNames: function () {
                    if (graph.structure.firstLevelItems)
                        return graph.structure.firstLevelItems.map(i => i['name']);
                    else
                        return [];
                },

                selectedIdx: function () {
                    return graph.selection[0];

                },

                plain: true
            },
            secondLevel: {
                list: function () {
                    let firstIdx = graph.selection[0];
                    if (graph.structure.firstLevelItems
                        && graph.structure.firstLevelItems[firstIdx]
                        && graph.structure.firstLevelItems[firstIdx].secondLevelItems) {
                        return graph.structure.firstLevelItems[firstIdx].secondLevelItems;
                    } else {
                        return [];
                    }
                },
                listNames: function () {
                    return this.secondLevel.list().map(i => i['name']);
                },

                selectedIdx: function () {
                    return graph.selection[1]
                },

                outlines: function () {
                    let secondItem = this.secondLevel.list()[this.secondLevel.selectedIdx()];
                    if (secondItem && secondItem.outlines) {
                        return secondItem.outlines()
                    } else {
                        return []
                    }
                },

                plain: true
            },

            thirdLevel: {
                listNames: function () {
                    let firstIdx = graph.selection[0];
                    let secondIdx = graph.selection[1];
                    if (graph.structure.firstLevelItems
                        && graph.structure.firstLevelItems[firstIdx]
                        && graph.structure.firstLevelItems[firstIdx].secondLevelItems
                        && graph.structure.firstLevelItems[firstIdx].secondLevelItems[secondIdx]
                        && graph.structure.firstLevelItems[firstIdx].secondLevelItems[secondIdx].thirdLevelItems) {
                        return graph.structure.firstLevelItems[firstIdx].secondLevelItems[secondIdx].thirdLevelItems.map(i => i['name']);
                    } else {
                        return [];
                    }
                },

                selectedIdx: function () {
                    return graph.selection[2]
                },

                plain: true,

                forbidUpload: true,
                inputText: '一组图片 或 一个其他类型文件',
                editable: true,
                previewMedia: true,
                mediaList: function () {
                    // 相当于复制了graph.selection
                    const treeIdx = graph.selection;

                    // 如果第三级没有被选中，则‘视听材料’肯定没有被选中，‘视听材料’属于第三级
                    if (treeIdx.filter(_ => _ < 0).length > 0) return false;
                    // 检查当前选择的第三级，是否为视听材料
                    let l3 = graph.structure.firstLevelItems[treeIdx[0]].secondLevelItems[treeIdx[1]].thirdLevelItems[treeIdx[2]];
                    if (l3.name === '视听材料') {
                        return l3.contents;
                    } else {
                        return false;
                    }
                },

                mediaPointer: null, // or -1, 0, 1, 2, ...

                newMedia: {
                    name: '',
                    description: '',
                    type: 'create'
                }
            },


        },

        methods: {
            changeCandidate: function (idx, componentName) {
                console.log(idx + ' ' + componentName);
                if (componentName === 'first-level-header') {
                    graph.selection = [idx, -1, -1]
                } else if (componentName === 'second-level-header') {
                    graph.selection = [graph.selection[0], idx, -1]
                } else if (componentName === 'third-level-header') {
                    graph.selection = [graph.selection[0], graph.selection[1], idx];
                }
                this.thirdLevel.mediaPointer = null;
            },

            step: function (direction, componentName) {
                let level = null;
                if (componentName === 'first-level-header') {
                    level = this.firstLevel;
                } else if (componentName === 'second-level-header') {
                    level = this.secondLevel;
                } else if (componentName === 'third-level-header') {
                    level = this.thirdLevel;
                }

                if (level && level.selectedIdx() !== -1) {
                    let test = level.selectedIdx();
                    let length = level.listNames().length;

                    if (direction === 'left') test--;
                    else if (direction === 'right') test++;

                    if (test >= 0 && test < length) {
                        this.changeCandidate(test, componentName);
                    }
                }
            },

            validateMedia: function (files) {
                // 二进制
                let image = 0b0001;
                let video = 0b0010;
                let audio = 0b0100;
                let other = 0b1000;

                let getMediaTypeBits = (suffix) => {
                    suffix = suffix.toLowerCase();
                    if (suffix === "jpg" || suffix === "png" || suffix === "bmp" || suffix === "svg") {
                        return image;
                    } else if (suffix === "mpeg" || suffix === "avi" || suffix === "mov" || suffix === "asf" || suffix === "rmvb" || suffix === "mpg" || suffix === "mp4") {
                        return video;
                    } else if (suffix === "mp3" || suffix === "midi" || suffix === "wma") {
                        return audio;
                    } else {
                        return other;
                    }
                };

                // 将files转为数组
                let typeBit = new Array(...files).map(fileObj => getMediaTypeBits(fileObj.name.split('.').pop())).reduce((suffix1, suffix2) => suffix1 | suffix2);
                /*
                 * map 将文件数组转为后缀名的二进制表示数组
                 * reduce 的结果是一个数，如果数组中全是图片，则为1；如果既有图片又有视频则为3.
                 * 我们已经规定，如果有多个文件，则它们必须全部是图片类型，所以可以认为任何数组内都是同一类型文件（其他类型文件只能上传一个）
                 * 显然typeBit必须是2的整数幂，判断它是否为2的整数幂
                 */
                let isSingleType = (typeBit & typeBit - 1) === 0;

                if (!isSingleType || (files.length > 1 && typeBit !== image)) {
                    let msg = '除了图片，每次只能上传一个文件';
                    console.error(msg);
                    this.thirdLevel.forbidUpload = true;
                    this.thirdLevel.inputText = '规则验证失败，重新选择';
                } else if (files.length === 0) {
                    let msg = '请选择文件';
                    console.error(msg);
                    this.thirdLevel.forbidUpload = true;
                    this.thirdLevel.inputText = '选择文件';
                    return msg;
                } else {
                    console.log('validation passed');
                    this.thirdLevel.forbidUpload = false;
                    this.thirdLevel.inputText = files.length === 1 ? files[0].name : `选择了${files.length}个文件`;
                    return true;
                }
            },

            uploadMedia: function (files) {
                const url = "/media-upload";
                let formData = new FormData();

                files.forEach((temp) => {
                    let filename = temp.name;
                    formData.append(filename, temp);
                });

                const filenameForbidden = /[\\\/*:?'"<>]/;

                let category = [
                    "测试案号123",
                    this.firstLevel.listNames()[this.firstLevel.selectedIdx()],
                    this.secondLevel.listNames()[this.secondLevel.selectedIdx()],
                    this.thirdLevel.listNames()[this.thirdLevel.selectedIdx()],
                    this.thirdLevel.newMedia.name
                ];
                // formData.append("category", "测试案号123/查找被害人，确认死者身份/死亡时间/视听材料/图片集1");
                // formData.append("description", "这是关于媒体1文件的描述，这个描述可以很长");

                // 如果媒体名称为空，则使用传入的第一个文件名
                if (category[4] === '') category[4] = files[0].name;
                formData.append("category", category.map(dir => dir.replace(filenameForbidden, '_')).join('/'));
                formData.append('description', this.thirdLevel.newMedia.description);


                fetch(url, {
                    method: "post",
                    body: formData
                }).then((response) => {
                    if (response.status !== 200) {
                        console.log("上传失败，状态码为：" + response.status);
                        return;
                    }
                    //检查响应文本
                    response.json().then((data) => {
                        this.thirdLevel.forbidUpload = true;
                        this.thirdLevel.inputText = '一组图片 或 一个其他类型文件';
                        graph.updateData();
                        console.log(data);
                    });
                }).catch(function (err) {
                    console.error("Fetch错误:" + err);
                });
            },

            chooseMedia: function (idx) {
                this.thirdLevel.mediaPointer = idx;
                console.dir(this.thirdLevel.mediaList()[idx])
            },

            createMedia: function () {
                console.log('creating');
                this.thirdLevel.mediaPointer = -1;
            },

            detailMedia: function () {
                const ptr = this.thirdLevel.mediaPointer;
                if (ptr === null) {
                    return {
                        name: '',
                        description: '',
                        type: ''
                    }
                } else if (ptr === -1) {
                    // console.log('point to new');
                    return this.thirdLevel.newMedia;
                } else {
                    // console.log(`point to ${ptr}`);
                    return this.thirdLevel.mediaList()[ptr]
                }
            },

            previewMedia: function () {
                const ptr = this.thirdLevel.mediaPointer;
                if (ptr !== null && ptr !== -1) {
                    let media = this.thirdLevel.mediaList()[ptr];
                    return {
                        urls: media.urls,
                        type: media.type
                    }
                } else {
                    return {urls: '', type: false}
                }
            },

            switchMedia: function () {
                this.thirdLevel.previewMedia = !this.thirdLevel.previewMedia
            }
        }
    });

    window.onscroll = function () {
        let y = window.scrollY;
        let graphHeight = document.getElementById('graph-container').offsetHeight;
        if (y > graphHeight / 2) {
            detail.firstLevel.plain = false;
            detail.secondLevel.plain = false;
            detail.thirdLevel.plain = false;
        } else {
            detail.firstLevel.plain = true;
            detail.secondLevel.plain = true;
            detail.thirdLevel.plain = true;
        }
    }
</script>


</body>
</html>